<div class="newsletter text-center">
  <div class="card">
    <div class="card-bar"></div>
    <div class="card-body">
      <!-- <h3 class="h4 card-title">👋 Stay in the loop</h3> -->
      <p> <a href="https://discord.gg/hwmk7nmygn" target="_blank"><img src="/images/icons/Discord.svg" class="discord"
            alt="discord server" loading="lazy" width=30 height=30 />Join our Discord Server</a>
      </p>
      <p>
      <ul class="nav flex-column flex-lg-row">
        <li class="nav-item">
          <a class="nav-link social-link" href="https://github.com/arungudelli/go"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg><small class="ms-2 d-lg-none">GitHub</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-link" href="https://twitter.com/golang_tutorial"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
              </path>
            </svg><small class="ms-2 d-lg-none">Twitter</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-link" href="https://www.linkedin.com/company/go-language-tutorial"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg><small class="ms-2 d-lg-none">Linkedin</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-link" href="https://www.facebook.com/golangtutorial.dev"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
            </svg><small class="ms-2 d-lg-none">Facebook</small></a>
        </li>
      </ul>
    </p>

      <p class="card-text">Get a short & sweet Go Language tutorials delivered to your inbox every couple of days. No
        spam ever. Unsubscribe any time.</p>
      <form class="row gx-2 gy-3 email-form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
        method="post"
        action="https://dev.us7.list-manage.com/subscribe/post?u=47a1fd72f72fc5594ab64547b&amp;id=b753dceb10&amp;f_id=00edede3f0"
        target="_blank">
        <div class="col-md-12">
          <input id="mce-EMAIL" name="EMAIL" type="email" class="form-control" placeholder="your@email.com"
            aria-label="Email address" required>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
            name="b_47a1fd72f72fc5594ab64547b_b753dceb10" tabindex="-1" value=""></div>
        <div class="col-md-4">
          <button id="mc-embedded-subscribe" type="submit" class="btn btn-primary w-100"
            aria-label="Subscribe">Subscribe</button>
        </div>
      </form>


    </div>
  </div>
</div>