<div class="newsletter text-center">
<div class="card">
    <div class="card-bar"></div>
    <div class="card-body">
      <!-- <h3 class="h4 card-title">👋 Stay in the loop</h3> -->
      <p>    <a href="https://discord.gg/hwmk7nmygn" target="_blank"><img src="/images/icons/Discord.svg" class="discord" alt="discord server" loading="lazy" width=30 height=30/>Join our Discord Server</a>
      </p>
      <p class="card-text">Get a short & sweet Go Language tutorials delivered to your inbox every couple of days. No spam ever. Unsubscribe any time.</p>
      <form class="row gx-2 gy-3 email-form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" method="post" action="https://dev.us7.list-manage.com/subscribe/post?u=47a1fd72f72fc5594ab64547b&amp;id=b753dceb10&amp;f_id=00edede3f0" target="_blank">
        <div class="col-md-12">
          <input id="mce-EMAIL" name="EMAIL" type="email" class="form-control" placeholder="your@email.com" aria-label="Email address" required>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_47a1fd72f72fc5594ab64547b_b753dceb10" tabindex="-1" value=""></div>
        <div class="col-md-4">
          <button id="mc-embedded-subscribe" type="submit" class="btn btn-primary w-100" aria-label="Subscribe">Subscribe</button>
        </div>
      </form>

  
    </div>
  </div>
</div>  


